:root {
  --ForeroundFFF: #FFF;
  --ForegroundF6: #f6f6f6;
  --ForegroundDB: #dbdbdb;
  --Grey97: #979797;
  --CinemaAB: #444444;
  --CinemaA: #424242;
  --CinemaB: #262626;
  --CinemaC: #181818;
  --CinemaD: #121212;
  --CinemaZ: #0e0e0e;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background: var(--ForeroundFFF);
  color: var(--CinemaZ);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
}

a:hover {
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale3d(1.1, 1.1, 1.1) perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

.list-style-none {
  list-style: none;
}

.color__f6 {
  color: var(--ForegroundF6);
}

.color__db {
  color: var(--ForegroundDB);
}

.color__97 {
  color: var(--Grey97);
}

.color__cinemaA {
  color: var(--CinemaA);
}

.color__cinemaAB {
  color: var(--CinemaAB);
}

.color__cinemaB {
  color: var(--CinemaB);
}

.color__cinemaC {
  color: var(--CinemaC);
}

.color__cinemaD {
  color: var(--CinemaD);
}

.color__cinemaZ {
  color: var(--CinemaZ);
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 1rem;
}

.py1 {
  padding: 1rem 0;
}

.pl1 {
  padding-left: 1rem;
}

.p2 {
  padding: 2rem;
}

.pA {
  padding: 6vh 2rem;
}

.lh-1 {
  line-height: 1;
}

.inline, .inline-all > * {
  display: inline;
}

.inline-flex {
  display: inline-flex;
}

.nowrap {
  display: inline-flex;
}

.min-height-fill {
  min-height: 100%;
}

.body-grid, .main-grid, .list-grid {
  display: grid;
}

.body-grid {
  grid: auto 1fr auto / auto;
  padding: 4rem;
}

.main-grid {
  grid: auto / 1fr 1fr 1fr;
  padding: 5vmin;
  gap: 0 5vmin;
}

.list-grid {
  grid: auto / 1fr auto auto;
  align-items: center;
}

.display__image {
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
  background-size: cover;
  background-position: center center;
}

.image-auto {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.block {
  display: inline-flex;
  width: 1.25ch;
  height: 1.25ch;
  background: var(--ForegroundDB);
  color: transparent;
  line-height: 0.75;
}

.no-transform a:hover {
  transition: none;
  transform: none;
}

.parllax-root {
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective-origin: center center;
  -webkit-tap-highlight-color: rgba(0,0,0,.4);
}

@media screen and (max-width: 600px) {
  .m-hide {
    display: none;
  }

  .body-grid {
    padding: 7vh 2rem 1rem;
  }

  .main-grid {
    grid: 1fr 1fr 1fr / auto;
    gap: 9vmin 0;
  }

  .list-grid {
    grid: auto / auto;
  }

  .mobile-block {
    display: block;
  }

  .m-flex-column {
    flex-direction: column;
  }

  .m-py1 {
    padding: 1rem 0;
  }

  .m-mt1 {
    margin-top: 1rem;
  }

  .footer {
    font-size: .8rem;
  }
}